*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background:cadetblue;
}
.container{
    width: 600px;
    padding: 25px 25px;
    height: 100%;
    margin:50px auto;
    background:cornsilk;
    border-radius: 5px;
    border-top:  groove;
    border-bottom:  groove;
    border-color: black;
    box-shadow:0 0 5px  black;
   
}

h1{
    text-align: center;
    font-size: 30px;
    padding: 30px;
    font-weight: 600 ;
    position: relative;
}
h1::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;

}
#Fullname input{
    width: 87%;
    height: 3vh;
    border: 1px soild blue;
    margin: 10px;
    border-radius: 2px;
    font-size: 15px;
}
#DOB input{
    width: 78%;
    height: 3vh;
    border: 1px soild blue;
    margin: 10px;
    border-radius: 2px;
    font-size: 15px;
}
#Emailid input{
    width: 85%;
    height: 3vh;
    border: 1px soild blue;
    margin: 10px;
    border-radius: 2px;
    font-size: 15px;
}
#Password input{
    width: 82%;
    height: 3vh;
    border: 1px soild blue;
    margin: 10px;
    border-radius: 2px;
    font-size: 15px;
}

#Phoneno input{
    width: 82%;
    height: 3vh;
    border: 1px soild blue;
    margin: 10px;
    border-radius: 2px;
    font-size: 15px;
}
#Address input{ 
    width: 95%;
    height: 3vh;
    border: 1px soild blue;
    margin: 10px;
    border-radius: 2px;
    font-size: 15px;
}

.course{
    width: 95%;
    height: 3vh;
    border: 1px soild blue;
    margin: 10px;
    border-radius: 2px;
    font-size: 15px;
}
.button{
    position: relative;
    text-align: center;
    border-radius: 2px;
    width:70px ;
    height:4vh;
    font-size:15px ;
    margin: 10px ;
    font-family: bold;
    background-color: blue;
  
}
.button:hover{
    background: red;
}
